[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=quicktily.py
Comment=
Exec=/home/wng/.local/bin/quicktile.py -d
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

