.terminator-terminal-window notebook tab {
  background-color: darkgrey;
  padding: 0;
  border: none;
}

.terminator-terminal-window notebook header, .terminator-terminal-window stack {
    border: none;
}

.terminator-terminal-window notebook tab:checked {
  background-image: none;
  background-color: #FFFFFF;
}

.terminator-terminal-window notebook tab button {
  padding: 0;
}
